api/bin/**
api/obj/**
bin/**
capture/**
data/**
plugins/**
lib/**
saves/**
settings/**
sounds/**
obj/**
xunit/bin/**
xunit/capture/**
xunit/data/**
xunit/plugins/**
xunit/lib/**
xunit/saves/**
xunit/settings/**
xunit/sounds/**
xunit/obj/**