<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>CivOne</string>
	<key>CFBundleDisplayName</key>
	<string>CivOne</string>
	<key>CFBundleIdentifier</key>
	<string>org.CivOne.SDL</string>
	<key>CFBundleVersion</key>
	<string>0.1.0.pre-alpha.1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>civ1</string>
	<key>CFBundleExecutable</key>
	<string>civone-mac</string>
	<key>CFBundleIconFile</key>
	<string>CivOne.icns</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
</dict>
</plist>